.classpath
.project
.settings/
target/
build/
tmp/
temp/
.gradle/
.svn/
.metadata/
nb-configuration.xml
nbactions.xml
*~
pom.xml.versionsBackup
pom.xml.releaseBackup
.recommenders/
*.swp
maven_dependencies/
